<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns = "http://www.w3.org/ns/widgets"
		xmlns:gap = "http://phonegap.com/ns/1.0"
		id = "com.phonegap.websocks"
		version = "1.0.0">

<name>PhoneGap: WebSock</name>

<description>
A template for getting started with PhoneGap development and build.phonegap.com
</description>

<author href="http://woodzu.vipserv.org"
email="p.gasiorowski@vipserv.org">
Piotr G
</author>

<icon src="icon.png" gap:role="default" />

<feature name="http://api.phonegap.com/1.0/network"/>

<preference name="orientation" value="portrait" />
<preference name="exit-on-suspend" value="true" />

<access origin="https://95.147.7.40" />

</widget>